body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #111;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-width: 500px;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-2 {
    background: #fff;
    color: #333;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color: #555;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.modal-header, h4, .close {
    background-color: none;
    color: #000;
    text-align: center;
    font-size: 30px;
}
/*
.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
*/
.modal-header, .modal-body {
    padding: 40px 50px;
}
.nav-tabs li a {
    color: #777;
}
#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}

/* BODY */
body {
  width: 100%;
  min-width: 760px;
}
/* DIV */
div.container {
  padding: 80px 10px;
  min-width: 500px;
}
div.participants-block {
  width: 30%;
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
/* TABLE */
table.container{
  background-color: white;
  color: #2d2d30;
  width: 65%;
}
table.day-schedule{
  width: 100%;
}
table.day-schedule tr:nth-child(odd) td{
}
table.day-schedule tr:nth-child(even) td{
  background-color: #2d2d301A;
}

/*  TD */
td {
  padding: 5px;
}
td.header{
  padding-left: 20%;
}
td.time{
  text-align: right;
  border-right: 1px solid black;
  width: 20%;
  padding-right: 10px;
  min-width: 120px;
}
td.presentor{
  text-align: left;
  padding-left: 30px;
  min-width: 170px;
  width: 25%;
  font-weight: bold;
  font-style: normal;
}
td.event{
  text-align: left;
  padding-left: 30px;
  min-width: 400px;
  width: 70%;
}

/* TR */
tr.header{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #2d2d3059;
  font-weight: bold;
  font-size: 17px;
}
/* tr.event-break{
  background-color: #2d2d3012;
} */
tr.event-break{
  border: 1px solid black;
  border-right: none;
}
tr.event-break td.time{
  border: 1px solid black;
  border-right: none;
}
tr.event-break td.presentor{
  font-weight: normal;
  border-right: none;
}

/* P */
p.presentor-name{
  font-weight: bold;
  font-style: normal;
  display: inline;
}

#program{
  min-width: 510px;
}
#home{
  min-width: 510px;
}

iframe{
  width: 280px;
  height: 280px;
  allowfullscreen;
  webkitallowfullscreen;
}
